debug = true
default_first_account = "Assets:Investments:Fidelity:ISA:Cash"
default_second_account = "Equity:OpeningBalences"
csv_has_headers = true
date_format="%d %b %Y"
date_regex='\d{2} [A-Z][a-z]{2} \d{4}'

[ledger_record_to_row]
date = 0                  # Date
payee = 2                 # Name
# first_account= -1       # Static: Fidelity
second_account_hint = 4   # Name
first_amount= 7           # Amount

[ledger_record_to_row.meta]
description = 7          # Description
transaction_type = 5      # type

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 3              # transaction type
value = "Cash Out"
operation = "contains"

[[second_account_hint_mapping.expense]]
key = ""
value = ""

[[second_account_hint_mapping.income]]
key= "Cash In"
value= "Assets:Bank:HSBC"
