debug = true
default_first_account = "Assets:Investments:Fidelity:ISA:Cash"
default_second_account = "Equity:OpeningBalences"
csv_has_headers = true
date_format="%d %b %Y"
date_regex='\d{2} [A-Z][a-z]{2} \d{4}'
first_amount_currency_default='GBP'

[ledger_record_to_row]
date = 0                      # Date
payee = 2                     # Name
first_account_hint = [2,3,4]  # Transaction type,Investments,Product Wrapper
second_account_hint = [2,3,4,6] # Transaction type,Investments,Product Wrapper, Source investment
first_amount= 8               # Amount

[ledger_record_to_row.meta]
description = 7          # Description
transaction_type = 5      # type

[[exclude_conditions]]
type = "RecordLen"
content = 2

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 2              # transaction type
value = "Cash Out For Buy"
operation = "contains"

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0              # Order date
value = "Order date"
operation = "contains"


# Cash Interest - ISA Pair
[[second_account_hint_mapping.income]]
key = "Cash Interest.*Investment ISA"
value = "Income:Fidelity:ISA:Cash:Interest"

[[first_account_hint_mapping]]
key = "Cash Interest.*Investment ISA"
value = "Assets:Investments:Fidelity:ISA:Cash"

# Cash Interest - Investment Acc Pair
[[second_account_hint_mapping.income]]
key = "Cash Interest.*Investment Account"
value = "Income:Fidelity:InvestmentAccount:Cash:Interest"

[[first_account_hint_mapping]]
key = "Cash Interest.*Investment Account"
value = "Assets:Investments:Fidelity:InvestmentAccount:Cash"

# Tax - Investment Acc Pair
[[second_account_hint_mapping.expense]]
key = "Tax On Interest"
value = "Expenses:Fidelity:TaxOnInterest"

[[first_account_hint_mapping]]
key = "Tax.*Investment Account"
value = "Assets:Investments:Fidelity:InvestmentAccount:Cash"

# VFTSE Pair
[[second_account_hint_mapping.income]]
key = "Vanguard FTSE 100 Index Unit Trust GBP Acc.*Investment ISA"
value = "Assets:Investments:Fidelity:ISA:Cash"

[[first_account_hint_mapping]]
key = "Vanguard FTSE 100 Index Unit Trust GBP Acc"
value = "Assets:Investments:Fidelity:ISA:Ftse100"


# Cash In - No Pair
[[second_account_hint_mapping.income]]
key= "Cash In Lump"
value= "Assets:Bank:HSBC"

[[second_account_hint_mapping.income]]
key = "Cash Dividend.*VUSA"
value = "Income:Fidelity:ISA:VUSA:Divident"

[[second_account_hint_mapping.income]]
key = "Cash Dividend.*AAPL"
value = "Income:Fidelity:ISA:AAPL:Divident"

