debug = true
default_first_account = "Assets:Bank:HSBC:Savings"
default_second_account = "Expenses:UnaccountedExpenses"
csv_has_headers = false
date_format="%d/%m/%Y"
date_regex='\d{2}/\d{2}/\d{4}'
first_amount_currency_default='GBP'

[ledger_record_to_row]
date = 0                  # Date
payee = 1                 # Name
second_account_hint = 1   # Name
first_amount= 2           # Amount

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 1              # transaction type
value = "TRANSFER - FROM HSBC"
operation = "contains"

[[payee_to_second_account.expense]]
key = "TESCO"
value = "Expenses:Groceries"

[[payee_to_second_account.expense]]
key = "AMERICAN EXP"
value = "Liabilities:CreditCard"

[[payee_to_second_account.expense]]
key = "AMZNMktplace|AMAZON.CO.UK|Amazon Prime"
value = "Expenses:Utilities"

[[payee_to_second_account.expense]]
key = "FIDELITY.CO.UK TADWORTH VIS"
value = "Assets:Investments:Fidelity:ISA:Cash"

[[payee_to_second_account.expense]]
key = "STRIPE DD|STRIPE FIRST PAYMENT DD"
value = "Expenses:Housing"

[[payee_to_second_account.expense]]
key = "HMRC SELF AS"
value = "Expenses:Taxes"

[[payee_to_second_account.income]]
key = "FACEBOOK UK"
value = "Income:Facebook:Salary"

[[payee_to_second_account.income]]
# transfers FROM Monzo
key = "M Sureshchandran CR|M Sureshchandran Murali Sureshchand CR"
value = "Assets:WireTransfer:MONZO_HSBC"

[[payee_to_second_account.expense]]
# transfers TO Monzo
key = "MURALI SURESH TRANSFER FROM HSBC SO"
value = "Assets:WireTransfer:MONZO_HSBC"

[[payee_to_second_account.expense]]
key = "DEPOSIT BOND "
value = "Assets:Bank:HSBC:Fixed"

[[payee_to_second_account.expense]]
key = "Remitly UK|M Sureshchandran pis"
value = "Assets:WireTransfer:REMITLY_HSBC"

[[payee_to_second_account.income]]
key = "Remitly U.K."
value = "Assets:WireTransfer:REMITLY_HSBC"
