debug = true
default_first_account = "Assets:Bank:Monzo"
default_second_account = "Expenses:UnaccountedExpenses"
csv_has_headers = true
date_format="%d/%m/%Y"
date_regex='\d{2}/\d{2}/\d{4}'
first_amount_currency_default='GBP'

[ledger_record_to_row]
date = 1                  # Date
payee = 4                 # Name
# first_account= -1       # Static: Monzo
second_account_hint = [4]   # Name
first_amount= 7           # Amount
first_amount_currency= 8  # Currency

[ledger_record_to_row.meta]
description = 14          # Description
address = 12              # Address
transaction_type = 3      # type

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 3              # transaction type
value = "Pot"
operation = "contains"

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 1              # transaction type
value = "Date"
operation = "contains"

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 7
value = "0.00"
operation = "equal"

[[second_account_hint_mapping.expense]]
key = "Stitch Fix|Kprepublic"
value = "Expenses:Posessions"

[[second_account_hint_mapping.expense]]
key = "Uber$|Postofficetravel|Transport for London|Railcard|Vehicle Licensing Agency|Safe Driving For Life|Travel Up"
value = "Expenses:Transport"

[[second_account_hint_mapping.expense]]
key = "UK Visas & Immigration|Oyster|AA Driving School|Pramod Khatti"
value = "Expenses:Transport"

[[second_account_hint_mapping.expense]]
key = "Digital Ocean|Hyperoptic|Amazon|Metropolitan Infrastru|Virgin Media|Lebara|Scottish Power|Royal Mail|Spotify|Better UK"
value = "Expenses:Utilities"

[[second_account_hint_mapping.expense]]
key = "Moogoo EU|JustPark|Vintage Scisso|Metropolitan|Manorama Products"
value = "Expenses:Utilities"

[[second_account_hint_mapping.expense]]
key = "AMERICAN EXP"
value = "Liabilities:CreditCard"

[[second_account_hint_mapping.expense]]
key = "L&Q|Barnet|Locrating"
value = "Expenses:Housing"

[[second_account_hint_mapping.expense]]
key = "Hoppers|deliveroo|Netflix|ODEON|Burger King|Crown Cafe Bar|Costa Coffee|Uber Eats|Thrillophilia|OnlyFans"
value = "Expenses:Entertainment"

[[second_account_hint_mapping.expense]]
key = "Champ De Mars|Airbnb|Sonyliv"
value = "Expenses:Entertainment"

[[second_account_hint_mapping.expense]]
key = "Optometrist|Christian Art|Royal Free London|H.a. Mcparland Ltd"
value = "Expenses:Health"

[[second_account_hint_mapping.expense]]
key= "Sree Sobha Dharmarajan|Better"
value =  "Expenses:Allowance"

[[second_account_hint_mapping.expense]]
key = "Colindale Local|Kingsbury Fruit|Sainsbury|Sp Lakshmi Stores"
value = "Expenses:Groceries"

[[second_account_hint_mapping.expense]]
key = "AMERICAN EXP"
value = "Liabilities:CreditCard"

[[second_account_hint_mapping.expense]]
# for HSBC
key= "Murali Sureshchandran"
value= "Assets:WireTransfer:MONZO_HSBC"

[[second_account_hint_mapping.expense]]
# for Fidelity
key= "Fidelity"
value= "Assets:WireTransfer:MONZO_FIDELITY"

[[second_account_hint_mapping.income]]
key= "Sree Sobha Dharmarajan"
value =  "Income:LivingShare"

[[second_account_hint_mapping.income]]
key= "SURESHCHANDR"
value= "Assets:WireTransfer:MONZO_HSBC"
