debug = true
default_first_account = "Assets:Bank:SBI:Savings"
default_second_account = "Expenses:UnaccountedExpenses"
csv_has_headers = true
date_format="%d %b %Y"
date_regex='\d{1,2} [A-Z][a-z]{2} \d{4}'
first_amount_currency_default='INR'
delimiter = "tab"

[ledger_record_to_row]
date = 0                  # Date
payee = 2                 # Name
second_account_hint = [2]   # Name
first_amount= 5           # Amount
first_amount_debit = 4

[ledger_record_to_row.meta]
description = 3           # Description
address =  3              # Address
transaction_type = 3      # type

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0
operation = "equal"
value = ""

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0
operation = "contains"
value = "Address"

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0
operation = "contains"
value = "       "

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0
operation = "contains"
value = ":"

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0
operation = "contains"
value = "Txn Date"

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0
operation = "contains"
value = "This is a computer generated"


[[exclude_conditions]]
type = "RecordLen"
content = 8

[[second_account_hint_mapping.expense]]
key = "LIC BILL"
value = "Assets:LongTerm:LIC"

[[second_account_hint_mapping.expense]]
key = "Annual Locker|LOCKER|Amazon I|Airtel"
value = "Expenses:Utilities"

[[second_account_hint_mapping.expense]]
key = "XXXXXXX817CITI"
value = "Assets:WireTransfer:SBI_CITI"

[[second_account_hint_mapping.expense]]
key = "LOCKER"
value = "Expenses:SBI:Fees"

[[second_account_hint_mapping.expense]]
key = "TAX DEDUCTION"
value = "Expenses:Taxes"

[[second_account_hint_mapping.expense]]
key = "CESS DEDUCTION"
value = "Expenses:Taxes"

[[second_account_hint_mapping.expense]]
key = "PRACTO"
value = "Expenses:Health"


[[second_account_hint_mapping.expense]]
key = "keralacmdr|DEBIT-ACHDr NACH00000000017880 YES BANK"
value = "Expenses:Donations"

[[second_account_hint_mapping.income]]
key= "TRANSFER-UPI"
value =  "Income:Unaccounted"

[[second_account_hint_mapping.income]]
key= "BULK POSTING"
value =  "Income:Zerodha:Divident"

[[second_account_hint_mapping.income]]
key= "TRANSFER-UPI|TRANSFER-NEFT"
value =  "Income:Unaccounted"

[[second_account_hint_mapping.income]]
key= "CREDIT INTEREST"
value =  "Income:SBI:Interest"

[[second_account_hint_mapping.income]]
key= "RMLY01"
value =  "Assets:WireTransfer:SBI_HSBC"
