debug = true
default_first_account = "Assets:Investments:CharlesSchwab:Meta"
default_second_account = "Expenses:UnaccountedExpenses"
csv_has_headers = true
date_format="%m/%d/%Y"
date_regex='\d{2}/\d{2}/\d{4}'
first_amount_currency_default='GBP'

[ledger_record_to_row]
date = 0                  # Date
payee = 1                 # Name
second_account_hint = 1   # Full name of stock
first_amount= 4           # Quantity of Stock
first_amount_currency= 2  # Ticker of stock
comment = [1,2,3]
first_account_hint = 2

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0              # transaction type
value = "Date"
operation = "equal"

[[exclude_conditions]]
type = "ColumnContainsValue"
[exclude_conditions.content]
column = 0              # transaction type
value = "Transactions  for account"
operation = "contains"

[[second_account_hint_mapping.expense]]
key = "Sell"
value = "Assets:Investments:CharlesSchwab:Cash"

[[second_account_hint_mapping.income]]
key = "Stock Plan Activity"
value = "Income:Facebook:RSU"

[[second_account_hint_mapping.income]]
key = "Buy"
value = "Assets:Investments:CharlesSchwab:Cash"

[[first_account_hint_mapping]]
key = "META"
value = "Assets:Investments:CharlesSchwab:Meta"

[[first_account_hint_mapping]]
key = "GOOG"
value = "Assets:Investments:CharlesSchwab:GOOG"

[[first_account_hint_mapping]]
key = "CSTNL"
value = "Assets:Investments:CharlesSchwab:CSTNL"
